.register_bottom {
padding: 0px 40px 10px 40px;
margin-left: 92px;
}
.register_bottom .register_header {
margin: 0px 30px;
}
.ol_step {
padding: 0;
margin-top: 50px;
margin-bottom: 20px;
font-size: 14px;
list-style: none;
zoom: 1;
position: relative;
color: #b7b7b7;
}
ol {
display: block;
list-style-type: decimal;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.ol_step:after {
clear: both;
content: " ";
display: block;
font-size: 0;
height: 0;
visibility: hidden;
}
.ol_step .ol_step_active {
color: #383838;
}
.ol_step_3 li {
width: 48.5%;
}
.ol_step li {
float: left;
height: 50px;
margin: 0;
width: 50%;
position: relative;
}